nav a {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    width: 18%;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    background-color: #f1f1f1;
    border-radius: 5px;
}

nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}

nav a:visited, a:link {
  color: #334953;
}
