.auth-form {
  margin: 10px 20%;
  width: 60%;
}

.auth-form .form-group {
  margin-bottom: 10px;
}

.auth-form .form-group label {
  display: block;
  font-weight: bold;
  margin-right: 20px;
  margin-bottom: 5px;
}

.btn-login {
  width: 40%;
  border: none;
  background: black;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.success {
  color: black;
  margin-left: 30%;
  margin-top: 25%;
  font-size: 32px;
}
