<div *ngIf="!fetchedUser || fetchedUser.id == 1" class="register-form">
  <h2>REGISTRATION</h2>
  <form (ngSubmit)="register()">
    <div class="form-group">
      <label for="login">Login</label>
      <input [(ngModel)]="model.login" name="login" required type="text" id="login">
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input [(ngModel)]="model.password" name="password" required type="password" id="password">
    </div>

    <button type="submit" class="btn-login">Register</button>
  </form>
</div>
<div *ngIf="fetchedUser && fetchedUser.id != 1" class="success-block">
  <h2 class="success">Success!</h2> 
</div>
